{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Галерея{% endtrans %}
{% endblock %}
{% block galleryActive %}id="page-active"{% endblock %}

{% block body %}
	<div id="gallery">
		{# Filter Uikit #}
		<div uk-filter="target: .js-filter">
			<ul class="uk-subnav uk-subnav-pill uk-flex uk-flex-center painting-categories">
				<li class="uk-active" uk-filter-control>
					<a href="#">{% trans %}Все{% endtrans %}</a>
				</li>
				{% for category in categories %}
					<li uk-filter-control="[data-color='{{category.name}}']">
						<a href="#">
							{% if app.request.locale == 'en' %}
								{{category.nameEn}}
							{% else %}
								{{category.name}}
							{% endif %}
						</a>
					</li>
				{% endfor %}
			</ul>
			<ul class="js-filter uk-child-width-1-2 uk-child-width-1-4@m uk-text-center" uk-grid>
				{% for painting in paintings %}
					{% set imagePath = asset('assets/img/galleryImages/' ~ painting.galleryImage) %}				
					<li data-color="{{painting.category.name}}">
						<div class="uk-card ">
							{# <div class="uk-text-center rounded-frame"> #}
							<div class="uk-text-center rounded-frame" style="background-image:url('{{ imagePath }}'); background-repeat: no-repeat; background-position: center; background-size: contain; ">
								<a href="{{ path('painting_show', {'id': painting.id}) }}">

							{# Transition (Bottom) Uikit #}
							{# <div class="uk-inline-clip margin-top uk-transition-toggle" tabindex="0">
								<img src="{{ asset('assets/img/galleryImages/' ~ painting.galleryImage) }}" alt="">
								<div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
									<p class="uk-h4 uk-margin-remove">
										<a class="uk-link-text" href="{{ path('painting_show', {'id': painting.id}) }}">{% trans %}Смотреть{% endtrans %}</a>
									</p>
								</div>
							</div> #}
								</a>						
							</div>
							<div class="painting-text">
								<div class=" uk-text-center painting-name"><a href="{{ path('painting_show', {'id': painting.id}) }}">{{painting.name}}</a></div>
								<div class="uk-text-center painting-size">
									{{ painting.hight}}
									X
									{{ painting.width }}
									см,
									{{painting.material}},  
									{{painting.creationYear}}
								</div>
								{# <div class=" uk-text-center painting-year">{{painting.creationYear}}</div> #}
								<div class=" uk-text-center painting-price">{{painting.price}} р</div>
							</div>
						</div>
					</li>					
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}
