{% extends 'base.html.twig' %}

{% block title %}
	{{ painting.name }}
{% endblock %}

{% block galleryActive %}id="page-active"{% endblock %}

{% block body %}

	<div   class="uk-child-width-expand@s uk-text-center " uk-grid>
		<div id="image-viewer">
			<ul id="main-image" class="uk-switcher">
				{% for image in painting.paintingImages %}
					<li class="painting-show">
						<a href="#image_{{image.id}}" uk-toggle>
							<img src="{{ asset('assets/img/paintings/' ~ image.file) }}" alt="{{ painting.name}}">
						</a>
						<!-- Modal Image with close button -->
						<div id="image_{{image.id}}" uk-modal>
							<div class="uk-modal-dialog">
								<button class="uk-modal-close-outside" type="button" uk-close></button>
								<img class="modal-image uk-text-center" src="{{ asset('assets/img/paintings/' ~ image.file) }}" alt="{{ painting.name}}">
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="uk-text-center">
			<div>
				<h1 id="show-painting-name">{% trans %}Картина{% endtrans %} «{{painting.name}}»</h1>
				<div id="show-painting-description">
					{% if painting.alt %}
						<p>{% trans %}Описание работы{% endtrans %}</p>
						<p class="uk-margin-top">
							{{painting.alt}}
						</p>
					{% endif %}
					<p class="uk-text-center">
						{{ painting.material }}.  
						{{ painting.hight}} 
						X 
						{{ painting.width }}.  
						{{painting.creationYear}} 
						{% trans %}год{% endtrans %}
					</p>
				</div>

				{% if app.session.get('mode_price') %}
					<div id="show-painting-price" class=" uk-text-center">{{painting.price}} р</div>
				{% endif %}
			</div>
			<div id="paintings-show-small" class="uk-text-center" uk-grid>
				<div class="uk-width-expand@m"></div>
				<div class="uk-width-auto@m">
					<ul id="viewer-switcher" class="uk-subnav uk-subnav-pill" uk-switcher="connect: #main-image">
						{% for image in painting.paintingImages %}
							<li class="painting-show-small">
								<a href="#"><img src="{{ asset('assets/img/paintings/' ~ image.file) }}" alt="{{ painting.name}}"></a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="uk-width-expand@m"></div>
			</div>


			<div class="uk-text-center">
				<a class="show-painting-button" href="{{ path('price_mode_show_page', {'id': painting.id}) }}">
					{% if app.session.get('mode_price') %}
						{% trans %}Просмотр в режиме выставки{% endtrans %}
					{% else %}
						{% trans %}Показать цены{% endtrans %}
					{% endif %}				
				</a>
			</div>
		</div>
	</div>
	<div>
	
	</div>

{% endblock %}
