{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Сайт художницы Ирины Козловой Кузнецовой{% endtrans %}
{% endblock %}

{% block mainActive %}id="page-active"{% endblock %} 

{% block body %}

	<section>
		<h1 class="uk-text-center">
			{% trans %}Галерея картин{% endtrans %}
		</h1>

		<!-- PAINTINGS SLIDER -->

		<div class="slider uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 3000">

			<div class="uk-slider-container">
				<ul class="uk-margin-bottom uk-slider-items uk-margin-top">

					{% for painting in paintings %}
						<li
							class="gallery-painting uk-text-center">
							<!-- Slider image -->
							<div class="uk-panel painting uk-text-center">
								<div class="gallery-painting-image">
									<a href="#gallery_{{painting.id}}" uk-toggle>
										<img src="{{ asset('assets/img/galleryImages/' ~ painting.galleryImage) }}" alt="{{ painting.alt}}">
									</a>
								</div>
								<hr>
							</div>
							<!-- Modal Image with close button -->
							<div id="gallery_{{painting.id}}" uk-modal>
								<div class="uk-modal-dialog">
									<button class="uk-modal-close-outside" type="button" uk-close></button>
									<img class="modal-image uk-text-center" src="{{ asset('assets/img/paintings/' ~ painting.galleryImage) }}" alt="{{ painting.alt}}">
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
				<a class="uk-position-center-left-out" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
				<a class="uk-position-center-right-out" href="#" uk-slidenav-next uk-slider-item="next"></a>
			</div>
			
		</div>
		<div class="uk-text-center uk-margin ">
			<a class="uk-button uk-button-secondary uk-button-large uk-text-center" href="{{ path('paintings') }}">{% trans %}Смотреть галерею{% endtrans %}</a>
		</div>
	</section>

<!-- LESSONS SECTION -->

	<section id="lessons-section" class="uk-padding">
		<h2>{% trans %}Уроки рисования{% endtrans %}</h2>
		<div class="uk-child-width-1-3@m" uk-grid>
			<div>
				<div>
					<div class="lessons-section-image">
						<img src="{{ asset('assets/img/courses_lessons.jpg') }}" alt="Le buste blanc d'un homme  et un dessin de ce buste">
					</div>
					<div>
						<h3 class="lessons-section-header">{% trans %}Готовые уроки и курсы{% endtrans %}</h3>
						<p>
							<div>{% trans %}На этом сайте вы можете приобрести:{% endtrans %}</div>
							<div>
								<img src="{{ asset('assets/img/icons/checkmarks.png') }}" alt="" height="17" width="17" >
								{% trans %}уроки и курсы для поступления в художественные ВУЗы, они составлены на основе специальных программ и моего опыта,{% endtrans %}
							</div>
							<div>
								<img src="{{ asset('assets/img/icons/checkmarks.png') }}" alt="" height="17" width="17" >
								{% trans %}уроки для души и удовольствия в различных техниках и для разного возраста.{% endtrans %}
							</div>
							<div>
								<img src="{{ asset('assets/img/icons/checkmarks.png') }}" alt="" height="17" width="17" >
								{% trans %}Уроки можно приобрести с обратной связью и без обратной связи.{% endtrans %}
							</div>
						</p>

						{# <div class="uk-text-center"><a class="uk-button uk-button-secondary uk-button uk-text-center" href="{{ path('home') }}">{% trans %}Подробнее{% endtrans %}</a></div> #}
					</div>
				</div>
			</div>
			<div>
				<div>
					<div class="lessons-section-image">
						<img src="{{ asset('assets/img/online.jpg') }}" alt="">
					</div>
					<div>
						<h3 class="lessons-section-header">{% trans %}Индивидуальные онлайн-занятия и в мини-группе{% endtrans %}</h3>
						<p>
							<div>
								<img src="{{ asset('assets/img/icons/checkmarks.png') }}" alt="" height="20" width="20" >
								{% trans %}Обучаю рисовать с нуля, новичков и опытных!{% endtrans %}
							</div>
							<div>
								<img src="{{ asset('assets/img/icons/checkmarks.png') }}" alt="" height="20" width="20" >
								{% trans %}Занимаюсь дистанционно с двух камер, вы видите меня и работу одновременно.{% endtrans %}
							</div>
							<div>
								<img src="{{ asset('assets/img/icons/checkmarks.png') }}" alt="" height="20" width="20" >
								{% trans %}По шагам доступно все объясняю и показываю{% endtrans %}
								<img src="{{ asset('assets/img/icons/right_arrow.png') }}" alt="" height="18" width="20" >
								{% trans %}вы повторяете {% endtrans %}
								<img src="{{ asset('assets/img/icons/right_arrow.png') }}" alt="" height="18" width="20" >
								{% trans %}я проверяю {% endtrans %}
								<img src="{{ asset('assets/img/icons/right_arrow.png') }}" alt="" height="18" width="20" >
								{% trans %}даю рекомендации {% endtrans %}
								<img src="{{ asset('assets/img/icons/right_arrow.png') }}" alt="" height="18" width="20" >
								{% trans %}вы исправляете и так далее. {% endtrans %}
							</div>
							<div>
								<img src="{{ asset('assets/img/icons/checkmarks.png') }}" alt="" height="17" width="17" >
								{% trans %}Поэтому у всех получается, даже если никогда не рисовали.{% endtrans %}
							</div>
						</p>

						{# <div class="uk-text-center"><a class="uk-button uk-button-secondary uk-button uk-text-center" href="{{ path('home') }}">{% trans %}Подробнее{% endtrans %}</a></div> #}
					</div>
				</div>
			</div>
			<div>
				<div>
					<div class="lessons-section-image">
						<img src="{{ asset('assets/img/material.jpg') }}" alt="Un enfant qui dessine des hérissons">
					</div>
					<div>
						<h3 class="lessons-section-header">{% trans %}Бесплатные уроки и учебный материал{% endtrans %}</h3>
						<p>
							<div>
								<img src="{{ asset('assets/img/icons/checkmarks.png') }}" alt="" height="17" width="17" >
								{% trans %}Интересные факты о живописи, рисунке, композиции полезные для рисования.{% endtrans %}
							</div>
							<div>
								<img src="{{ asset('assets/img/icons/checkmarks.png') }}" alt="" height="17" width="17" >
								{% trans %}Цитаты и фрагменты, обзор любимых книг на тему искусства, живописи, рисунка.{% endtrans %}
							</div>
							<div>
								<img src="{{ asset('assets/img/icons/checkmarks.png') }}" alt="" height="17" width="17" >
								{% trans %}Интересные факты из биографии художников.{% endtrans %}
							</div>
							<div>
								<img src="{{ asset('assets/img/icons/checkmarks.png') }}" alt="" height="17" width="17" >
								{% trans %}Анализ картин: как располагаются цвета, тона, формы и линии, и как создается эстетический образ и многое другое.{% endtrans %}
							</div>
					
						</p>
						{# <div class="uk-text-center"><a class="uk-button uk-button-secondary uk-button uk-text-center" href="{{ path('home') }}">{% trans %}Подробнее{% endtrans %}</a></div> #}
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- PHOTOS SLIDER -->

		<h2 class="uk-text-center">{% trans %}События{% endtrans %}</h2>

		<div class="slider uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 3000">

			<div class="uk-slider-container">
				<ul class="uk-margin-bottom uk-slider-items uk-margin-top">

					{% for photo in photos %}
						<li
							class="gallery-painting uk-text-center">
							<!-- Slider image -->
							<div class="uk-panel painting uk-text-center">
								<div class="gallery-painting-image">
									<a href="#main_photos{{ photo.id}}" uk-toggle>
										<img src="{{ asset('assets/img/photos/' ~ photo.file) }}" alt="{{ photo.description}}">
									</a>
								</div>
								<hr>
							</div>
							<!-- Modal Image with close button -->
							<div id="main_photos{{ photo.id}}" uk-modal>
								<div class="uk-modal-dialog">
									<button class="uk-modal-close-outside" type="button" uk-close></button>
									<img class="modal-image uk-text-center" src="{{ asset('assets/img/photos/' ~ photo.file) }}" alt="{{ photo.description}}">
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
				<a class="uk-position-center-left-out" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
				<a class="uk-position-center-right-out" href="#" uk-slidenav-next uk-slider-item="next"></a>
			</div>
			
		</div>
		{# <div class="uk-text-center uk-margin ">
			<a class="uk-button uk-button-secondary uk-button-large uk-text-center" href="{{ path('events') }}">{% trans %}Подробнее{% endtrans %}</a>
		</div> #}
	</section>

	<!-- ARTIST SECTION -->
	<section id="artist-section" >
		<h2 >{% trans %}О ХУДОЖНИКЕ{% endtrans %}</h2>
		<div class="uk-panel">
			<img class="image-bord uk-align-center uk-align-left@m uk-margin-remove-adjacent" src="{{ asset('assets/img/artist.jpg') }}" alt="Artist">
			<div>
				<div class="artist-name">{% trans %}Ирина Козлова-Кузнецова - {% endtrans %}</div>
				<p >{% trans %}Ирина Козлова-Кузнецова — художник-живописец, преподаватель рисунка и живописи.{% endtrans %}</p>
				<p >{% trans %}Работает в живописных направлениях реализм и импрессионизм.{% endtrans %}</p>
				<p >{% trans %}Основной материал — холст, масло.{% endtrans %}</p>
				<p >{% trans %}Активный участник всероссийских, областных, городских и региональных выставок.{% endtrans %}</p>
				<p >{% trans %}«Пишу в позитивном настроении, стараюсь впитать красоту природы и отразить это на картине».{% endtrans %}</p>
				<p >{% trans %}Ключевая тема картин — изображение жизни, как она есть, через свободное импрессионистическое-реалистичное видение различных состояний природы, натюрмортов и портретов.{% endtrans %}</p>			
				<p >{% trans %}Российские деревни, улочки родного города, контраст утра и ночи, знойного дня и дождливого вечера, будней и выходных, достопримечательностей и заброшенных мест города дают возможность расширить горизонты восприятия и показать, как энергетика города и деревни, лесов и полей заряжает добром и любовью.{% endtrans %}</p>
				<p >{% trans %}Автор убеждена, что живопись природы способна воодушевить зрителя, обратить его внимание на красоту окружающего мира и вдохновить на творческие свершения. {% endtrans %}</p>
				<p >{% trans %}Цвет и манера письма — понятия неразделимые, они для художницы являлся воплощением чувств, в нём проявляется яркий темперамент ее личности.{% endtrans %}</p>
				<p >{% trans %}Ее живопись пронизана эстетикой импрессионизма, чувственна и эмоциональна.{% endtrans %}</p>
			</div>
		</div>
		<div class="uk-text-center uk-margin ">
			<a class="uk-button uk-button-secondary uk-button-large uk-text-center" href="{{ path('about_artist') }}">{% trans %}Подробнее{% endtrans %}</a>
		</div>
	</section>

{% endblock %}

