{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Сайт художницы Ирины Козловой Кузнецовой{% endtrans %}
{% endblock %}

{% block mainActive %}id="page-active"{% endblock %} 

{% block body %}

	<section>
		<h1 class="uk-text-center">
			{% trans %}Галерея картин{% endtrans %}
		</h1>

		<!-- PAINTINGS SLIDER -->

		<div class="slider uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 3000">

			<div class="uk-slider-container">
				<ul class="uk-margin-bottom uk-slider-items uk-margin-top">

					{% for painting in paintings %}
						<li
							class="gallery-painting uk-text-center">
							<!-- Slider image -->
							<div class="uk-panel painting uk-text-center">
								<div class="gallery-painting-image">
									<a href="#gallery_{{painting.id}}" uk-toggle>
										<img src="{{ asset('assets/img/galleryImages/' ~ painting.galleryImage) }}" alt="{{ painting.alt}}">
									</a>
								</div>
								<hr>
							</div>
							<!-- Modal Image with close button -->
							<div id="gallery_{{painting.id}}" uk-modal>
								<div class="uk-modal-dialog">
									<button class="uk-modal-close-outside" type="button" uk-close></button>
									<img class="modal-image uk-text-center" src="{{ asset('assets/img/paintings/' ~ painting.galleryImage) }}" alt="{{ painting.alt}}">
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
				<a class="uk-position-center-left-out" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
				<a class="uk-position-center-right-out" href="#" uk-slidenav-next uk-slider-item="next"></a>
			</div>
			
		</div>
		<div class="uk-text-center uk-margin ">
			<a class="uk-button uk-button-secondary uk-button-large uk-text-center" href="{{ path('paintings') }}">{% trans %}Смотреть галерею{% endtrans %}</a>
		</div>
	</section>

<!-- LESSONS SECTION -->

	<section id="lessons-section" class="uk-padding">
		<h2>{% trans %}Уроки рисования{% endtrans %}</h2>
		<div class="uk-child-width-1-3@m" uk-grid>
			<div>
				<div>
					<div class="lessons-section-image">
						<img src="{{ asset('assets/img/courses_lessons.jpg') }}" alt="Le buste blanc d'un homme  et un dessin de ce buste">
					</div>
					<div>
						<h3 class="lessons-section-header">{% trans %}Готовые уроки и курсы{% endtrans %}</h3>
						<p>{% trans %}Уроки и курсы составлены с учетом академических знаний, знаний старых мастеров и с добавлением личного опыта.{% endtrans %}</p>
						<p>{% trans %}Научу как нарисовать куб, призму, конус, шар, цилиндр и другие гипсовые фигуры, интерьер, портреты, фигуру человека, гипсовые головы, пейзаж.
																																																																						                     Получите знания по пластической анатомии, воздушной и линейной перспективе,свето-теневой передачи объектов.{% endtrans %}</p>
						<p>{% trans %}Можете приобрести уроки живописнойи акварелью гуашью акрилом темпирой маслом пастелью цветными карандашами в различных техниках и для разного возроста.{% endtrans %}</p>
						<p>{% trans %}Рассказываю и показываю все пошагово и понятно. Можно приобрести уроки с обратной связью.{% endtrans %}</p>
						<a class="uk-button uk-button-secondary uk-button uk-text-center" href="{{ path('home') }}">{% trans %}Подробнее{% endtrans %}</a>
					</div>
				</div>
			</div>
			<div>
				<div>
					<div class="lessons-section-image">
						<img src="{{ asset('assets/img/online.jpg') }}" alt="Quatre femmes avec des tableaux dans les main, de l'eau et des bateaux derrière eux">
					</div>
					<div>
						<h3 class="lessons-section-header">{% trans %}Онлай-занятия инидивидуальные и в мини-группе{% endtrans %}</h3>
						<p>{% trans %}Занимаюсь дистанционно с 2 камер, вы видите меня и работу одновременно.  Работаю с учениками с нуля, новичками и с опытными{% endtrans %}
						</p>
						<p>{% trans %}Пошагово все объясняю и рисую вместе с вами, легко и понятно, показывая и объясняя каждый шаг, как что делать. Поэтому у всех получается, даже если никогда не рисовали.
							{% endtrans %}
						</p>
						<p>{% trans %}Готовлю учеников в спец. ВУЗЫ, колледжи, школы. Ученики со всей России и со всего Мира.   Занимаемся по академической программе, дополняя своим опытом и авторскими разработками.{% endtrans %}
						</p>
						<p>{% trans %}Есть группы: академический рисунок, скетчинг, натюрморт, портрет, пейзаж, анимэ, комиксы, пластическая анатомия, живопись маслом, японская живопись, роспись, и т. д.{% endtrans %}
						</p>
						<a class="uk-button uk-button-secondary uk-button uk-text-center" href="{{ path('home') }}">{% trans %}Подробнее{% endtrans %}</a>
					</div>
				</div>
			</div>
			<div>
				<div>
					<div class="lessons-section-image">
						<img src="{{ asset('assets/img/material.jpg') }}" alt="Un enfant qui dessine des hérissons">
					</div>
					<div>
						<h3 class="lessons-section-header">{% trans %}Бесплатные уроки и учебный материял{% endtrans %}</h3>
						<p>{% trans %}Если вам нравиться учиться обучаться дома, то здесь вы можете погрузиться в мир живописи и совершенно бесплатно пройти онлайн-курс "Азы рисования".
							{% endtrans %}
						</p>
						<p>{% trans %}Бесплатные уроки и статьи о многом, что касается живописи, рисунка и композиции. Собрана информация из старинных книг мастеров из библиотек: Российской государственной библиотеке,  библиотека им. Сурикова, научная библиотека Российской академии художеств в Санкт-Петербурге и др.{% endtrans %}
						</p>
						<p>{% trans %}Забавные, странные и интересные факты о живописи и художниках. Самые разные способы писать картины и необычные сюжеты из биографии известных мастеров.{% endtrans %}
						</p>
						<a class="uk-button uk-button-secondary uk-button uk-text-center" href="{{ path('home') }}">{% trans %}Подробнее{% endtrans %}</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	

	<!-- PHOTOS SLIDER -->

		<h2 class="uk-text-center">{% trans %}События{% endtrans %}</h2>

		<div class="slider uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 3000">

			<div class="uk-slider-container">
				<ul class="uk-margin-bottom uk-slider-items uk-margin-top">

					{% for photo in photos %}
						<li
							class="gallery-painting uk-text-center">
							<!-- Slider image -->
							<div class="uk-panel painting uk-text-center">
								<div class="gallery-painting-image">
									<a href="#main_photos{{ photo.id}}" uk-toggle>
										<img src="{{ asset('assets/img/photos/' ~ photo.file) }}" alt="{{ photo.description}}">
									</a>
								</div>
								<hr>
							</div>
							<!-- Modal Image with close button -->
							<div id="main_photos{{ photo.id}}" uk-modal>
								<div class="uk-modal-dialog">
									<button class="uk-modal-close-outside" type="button" uk-close></button>
									<img class="modal-image uk-text-center" src="{{ asset('assets/img/photos/' ~ photo.file) }}" alt="{{ photo.description}}">
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
				<a class="uk-position-center-left-out" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
				<a class="uk-position-center-right-out" href="#" uk-slidenav-next uk-slider-item="next"></a>
			</div>
			
		</div>
		<div class="uk-text-center uk-margin ">
			<a class="uk-button uk-button-secondary uk-button-large uk-text-center" href="{{ path('events') }}">{% trans %}Подробнее{% endtrans %}</a>
		</div>
	</section>

	<!-- ARTIST SECTION -->
	<section id="artist-section" >
		<h2 >{% trans %}О ХУДОЖНИКЕ{% endtrans %}</h2>
		<div class="uk-panel">
			<img class="image-bord uk-align-center uk-align-left@m uk-margin-remove-adjacent" src="{{ asset('assets/img/artist.jpg') }}" alt="Artist">
			<div>
				<div class="artist-name">{% trans %}Ирина Козлова-Кузнецова - {% endtrans %}</div>
				<p >{% trans %}Работает в живописных направлениях реализм и импрессионизм.{% endtrans %}</p>
				<p >{% trans %}Основной материал — холст, масло.{% endtrans %}</p>
				<p >{% trans %}Активный участник множества областных, городских и региональных выставок.{% endtrans %}</p>
				<p >{% trans %}«Пишу в позитивном настроении, стараюсь впитать красоту природы и отразить это на картине».{% endtrans %}</p>
				<p >{% trans %}Ключевая тема картин — изображение жизни, как она есть, через свободное импрессионистическое-реалистичное видение различных состояний природы, натюрмортов и портретов.{% endtrans %}</p>			
				<p >{% trans %}Российские деревни, улочки родного города, контраст утра и ночи, знойного дня и дождливого вечера, будней и выходных, достопримечательностей и заброшенных мест города дают возможность расширить горизонты восприятия и показать, как энергетика города и деревни, лесов и полей заряжает добром и любовью.{% endtrans %}</p>
				<p >{% trans %}Автор убеждена, что живопись природы способна воодушевить зрителя, обратить его внимание на красоту окружающего мира и вдохновить на творческие свершения. {% endtrans %}</p>
				<p >{% trans %}Цвет и манера письма — понятия неразделимые, они для художницы являлся воплощением чувств, в нём проявляется яркий темперамент ее личности.{% endtrans %}</p>
				<p >{% trans %}Ее живопись пронизана эстетикой импрессионизма, чувственна и эмоциональна.{% endtrans %}</p>
			</div>
		</div>
		<div class="uk-text-center uk-margin ">
			<a class="uk-button uk-button-secondary uk-button-large uk-text-center" href="{{ path('about_artist') }}">{% trans %}Подробнее{% endtrans %}</a>
		</div>
	</section>

{% endblock %}

